* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 10rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  color: #A7BAE1;
  text-align: center;
  width: 700px;
}

#assignment {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #fffdff;
  padding: 1rem;
  text-align: center;
  width: 700px;
}

#assignment h2 {
  font-size: 2rem;
  border-bottom: 4px solid #A7BAE1;
  color: #A7BAE1;
  margin: 0 0 1rem 0;
}

#assignment ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

#assignment li {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #A7BAE1;
  padding: 0.5rem;
  color: #fff;
  border-radius: 25px;
}

#assignment input {
  font: inherit;
  border: 1px solid #A7BAE1;
  text-align: center;
  border-radius: 20px;
  color: #A7BAE1;
}

#assignment input:focus {
  outline: none;
  border-color: #A7BAE1;
  background-color: #ebf0fc;
}

#assignment button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #A7BAE1;
  background-color: #A7BAE1;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  margin-left: 10px;
}


.cursor
{
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  transition: 0.15s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 40%;
}

h1:hover
{
  transition: 1s;
  color:#FCC9D0 ;
  
}

#assignment h2:hover 
{
  transition: 1s;
  color:#FCC9D0 ;
  border-bottom: 4px solid #FCC9D0;
}

#assignment input:hover  
{
  border: 1px solid #FCC9D0;
  transition: 1s;
  color: #FCC9D0;
}

section:hover ~ .cursor
{
  transform: scale(1.6);
  background: #FCC9D0;
}


header:hover ~ .cursor
{
  transform: scale(2);
  background: #FCC9D0;
}


#assignment button:hover,
#assignment button:active {
  background-color: #FCC9D0;
  border-color: #FCC9D0;
  transition: 0.8s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
